/* Commen custom CSS styles*/

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
}

.border-dark {
    border-color: #dddddd;
}

.horizontal-line{
    height: 3px;
    background-color: #dddddd;
}

.teal-text {
    color: #4aaaa5;
}

.portfolio-img {
    background-image: url("http://lorempixel.com/175/175");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    min-width: 200px;
    min-height: 200px;
}

body {
    height: 100%;
    background-image: url('images/hypnotize.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color:gray;
}

footer {
    background-color: #666666;
    color: white;
    border-top: 3px solid #4aaaa5;
}

.title-link {
    margin-top: 80%;
}